---
// Component imports
import Main from "../../layouts/MainLayout.astro";
import AlbumCard from "../../components/AlbumCard.astro";
import Pagination from "../../components/controllers/Pagination.astro";
// Utils
import type { PaginateFunction } from "astro";
import { GetSortedMusicPosts } from "../../utils/content";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const postCollections = await GetSortedMusicPosts();
  return paginate(postCollections, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Main title="Repository" subTitle="Shared Files">
  <div class="space-y-8">
    <div class="w-full space-y-4">
      {
        page.data.map((entry, index) => (
          <div
            class="onload-animation"
            style={`animation-delay: calc(var(--onload-animation-delay) + ${index + 1} * var(--onload-animation-interval));`}
          >
            <AlbumCard
              id={entry.id}
              title={entry.data.title}
              published={entry.data.published}
              category={entry.data.category}
              tags={entry.data.tags}
              melodies={entry.data.melodies}
              sourceLink={entry.data.sourceLink}
              notesLink={entry.data.notesLink}
              description={entry.data.description}
              image={entry.data.cover}
              isCompleted={entry.data.isCompleted}
              readingMetadata={
                (entry.rendered!.metadata as any).frontmatter.readingMetadata
              }
            />
          </div>
        ))
      }
    </div>
    <Pagination
      class="onload-animation"
      lastPage={page.lastPage}
      current={page.currentPage}
      prevURL={page.url.prev}
      nextURL={page.url.next}
      style={`animation-delay: calc(var(--onload-animation-delay) + ${page.data.length + 1} * var(--onload-animation-interval));`}
    />
  </div>
</Main>
